
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   view_params = { :form_name => 'task_objs/form' }
   @ft_view_section = {}

   dir_ind = params['direction'] || 'ASC'
   asc_desc = Hash.new(dir_ind)
   asc_desc[ params['order_by'].to_s ] = ( dir_ind['ASC'] ? 'DESC' : 'ASC')

   darrow = Hash.new("")
   darrow[ params['order_by'].to_s ] = (dir_ind == 'ASC' ? " &uarr;" : " &darr;")
%>
<% unless @embedded %>

<div class="buttons_etc buttons_etc_top">
<table class="buttons_etc_top_table" border="0" cellspacing="0">
<tr>
  <td width="60%" valign="top">
    <%= js_button_to 'Normal View', :controller => 'task_objs', :action => 'show', :id => @task_obj %> 
    <select onchange="javascript: location = this[this.selectedIndex].value;">
      <option value="#">Select an action...</option>
      <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'task_objs', :action => 'list')%>"> <%="Table of Task".pluralize%> </option>
    <option value="<%=url_for(:controller => 'task_objs', :action => 'block_list')%>"> <%="List of Task".pluralize%> </option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'task_objs', :action => 'new')%>"> Add new Task </option>

    <option value="#">----------------</option>

<!-- BEGIN-UID.user_actions -->

<!-- END-UID.user_actions -->

    </select>
  </td>
  <td class="context" width="40%">
   <%=context_links(@task_obj)%>
  </td>
</tr>
</table>
</div>

<% end %>

<!-- BEGIN-UID.user_mods -->

<!-- END-UID.user_mods -->

<fieldset>
<LEGEND>Properties</LEGEND>

<% form_tag(:controller => 'task_objs', :action => 'update', :id => @task_obj) do %>
  <p class="submit_top">&nbsp;<%= submit_tag 'Save Changes' %> </p>
  <%= render :partial => view_params[:form_name] %>
  <p class="submit_bottom">&nbsp;<%= submit_tag 'Save Changes' %> </p>
<% end %> <!-- end form_tag -->

</fieldset>

<p class="spacer">&nbsp;</p>

<div class="edit_view edit_view_task_obj">              <!-- div1 -->

<!-- BEGIN-UID.user_related_items -->
<h3 class="rel_items_heading">Related Items</h3>
<!-- END-UID.user_related_items -->

<div class="show_hide_subtable_text">
<% listtext_op = session['list_text_toggles'] ? "show text" : "hide text" %>
<%= link_to listtext_op, {:controller => 'fast_ops', :action => 'toggle_list_text_toggle'}, :style => 'font-size:8pt;' %> | 
<% listimage_op = session['list_image_toggles'] ? "show images" : "hide images" %>
<%= link_to listimage_op, {:controller => 'fast_ops', :action => 'toggle_list_image_toggle'}, :style => 'font-size:8pt;' %>
</div>

<% @ft_view_section = {} %>

<% @ft_view_section[:documents] = capture { %>
<% if @show_item[:documents] then %>

  <!-- Documents -->

  <a name="documents"></a>

  <div id="show_rel_documents" class="show_rel show_rel_documents">                                                 <!-- div28 -->
    <div class="detail_quick_add detail_quick_add_document" id="quick_add_task_obj_documents" style="float:right;">
        <%= show_hide "Quick-add Documents by name", 'quick_add_documents' %>
        <div id="quick_add_documents" style="display:none; margin-bottom:4px; padding:8px;">
            enter one name per line
            <% form_tag(:controller => 'task_objs', :action => 'quick_add_documents', :id => @task_obj.id) do %>
                <%=text_area_tag 'names', {}, :style=>"width:2in; height:0.5in;"%> <br />
                <%=submit_tag 'Add Documents'%>
            <% end %>
        </div>
    </div>

    <div id="show_rel_documents_label" class="rel_label"> Documents &nbsp; <%= show_hide('show/hide','show_rel_documents_value')%> </div>        <!-- div29 -->

    <div id="show_rel_documents_value" class="rel_value">                                                                           <!-- div30 -->
        <table class="detail" cellspacing="1">
          <tr>
        <th>&nbsp;</th>
            <th> <%= link_to "Name"+darrow['name'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'documents', :order_by => 'name', :direction => asc_desc['name'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Seq No"+darrow['seq_no'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'documents', :order_by => 'seq_no', :direction => asc_desc['seq_no'] }, :class => 'col_sorting_link' %> </th>
          <th>&nbsp;</th>
          </tr>

          <% prev_item = nil %>
          <% for document in (@documents || []) %>
            <tr>

              <td class="links no_lf">
              <%= link_to image_tag("blue_x.jpg",{:border=>"0", :title => 'Remove'}), {:controller => 'task_objs', :action => 'remove_from_documents', :id => @task_obj.id, :document_id => document.id} %>
              &nbsp; <%= link_to image_tag("pencil.gif",{:border=>"0", :title => 'Edit'}), {:controller => document.ctrlr_name, :action => 'edit', :id => document.id, 
                                           :return_to_controller => 'task_objs', :return_to_action => 'edit', :return_to_id => @task_obj.id} %> 
              </td>

            <td class="no_lf">
              <% text = document.name.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= link_to text, url_show(document), :class => "identity_link" %> 
            </td>

            <td class="no_lf">
              <% text = document.seq_no.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

      <% if prev_item then %>
        <td style="text-align:center"><%= link_to "&uarr;", :controller => 'documents', :action => 'swap_seq_nos', :obj1_id => prev_item.id, :obj2_id => document.id %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
            </tr>
            <% prev_item = document %>
          <% end %>
        <tr>
        <td class="cmd" colspan="13">
        <%= link_to 'Add Document', :controller => 'task_objs', :action => 'add_to_documents', :id => @task_obj.id, :obj_context => @task_obj.iname %> 
        </td>
        </tr>
        </table>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>

<% @ft_view_section[:announcements] = capture { %>
<% if @show_item[:announcements] then %>

  <!-- Announcements -->

  <a name="announcements"></a>

  <div id="show_rel_announcements" class="show_rel show_rel_announcements">                                                 <!-- div28 -->
    <div class="detail_quick_add detail_quick_add_announcement" id="quick_add_task_obj_announcements" style="float:right;">
        <%= show_hide "Quick-add Announcements by topic", 'quick_add_announcements' %>
        <div id="quick_add_announcements" style="display:none; margin-bottom:4px; padding:8px;">
            enter one topic per line
            <% form_tag(:controller => 'task_objs', :action => 'quick_add_announcements', :id => @task_obj.id) do %>
                <%=text_area_tag 'names', {}, :style=>"width:2in; height:0.5in;"%> <br />
                <%=submit_tag 'Add Announcements'%>
            <% end %>
        </div>
    </div>

    <div id="show_rel_announcements_label" class="rel_label"> Announcements &nbsp; <%= show_hide('show/hide','show_rel_announcements_value')%> </div>        <!-- div29 -->

    <div id="show_rel_announcements_value" class="rel_value">                                                                           <!-- div30 -->
        <table class="detail" cellspacing="1">
          <tr>
        <th>&nbsp;</th>
            <th> <%= link_to "Topic"+darrow['topic'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'announcements', :order_by => 'topic', :direction => asc_desc['topic'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Seq No"+darrow['seq_no'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'announcements', :order_by => 'seq_no', :direction => asc_desc['seq_no'] }, :class => 'col_sorting_link' %> </th>
          <th>&nbsp;</th>
          </tr>

          <% prev_item = nil %>
          <% for announcement in (@announcements || []) %>
            <tr>

              <td class="links no_lf">
              <%= link_to image_tag("blue_x.jpg",{:border=>"0", :title => 'Remove'}), {:controller => 'task_objs', :action => 'remove_from_announcements', :id => @task_obj.id, :announcement_id => announcement.id} %>
              &nbsp; <%= link_to image_tag("pencil.gif",{:border=>"0", :title => 'Edit'}), {:controller => announcement.ctrlr_name, :action => 'edit', :id => announcement.id, 
                                           :return_to_controller => 'task_objs', :return_to_action => 'edit', :return_to_id => @task_obj.id} %> 
              </td>

            <td class="no_lf">
              <% text = announcement.topic.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= link_to text, url_show(announcement), :class => "identity_link" %> 
            </td>

            <td class="no_lf">
              <% text = announcement.seq_no.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

      <% if prev_item then %>
        <td style="text-align:center"><%= link_to "&uarr;", :controller => 'announcements', :action => 'swap_seq_nos', :obj1_id => prev_item.id, :obj2_id => announcement.id %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
            </tr>
            <% prev_item = announcement %>
          <% end %>
        <tr>
        <td class="cmd" colspan="13">
        <%= link_to 'Add Announcement', :controller => 'task_objs', :action => 'add_to_announcements', :id => @task_obj.id, :obj_context => @task_obj.iname %> 
        </td>
        </tr>
        </table>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>

<% @ft_view_section[:follow_on_tasks] = capture { %>
<% if @show_item[:follow_on_tasks] then %>

  <!-- Follow On Tasks -->

  <a name="follow_on_tasks"></a>

  <div id="show_rel_follow_on_tasks" class="show_rel show_rel_follow_on_tasks">                                                 <!-- div28 -->
    <div class="detail_quick_add detail_quick_add_task_obj" id="quick_add_task_obj_follow_on_tasks" style="float:right;">
        <%= show_hide "Quick-add TaskObjs by name", 'quick_add_follow_on_tasks' %>
        <div id="quick_add_follow_on_tasks" style="display:none; margin-bottom:4px; padding:8px;">
            enter one name per line
            <% form_tag(:controller => 'task_objs', :action => 'quick_add_follow_on_tasks', :id => @task_obj.id) do %>
                <%=text_area_tag 'names', {}, :style=>"width:2in; height:0.5in;"%> <br />
                <%=submit_tag 'Add TaskObjs'%>
            <% end %>
        </div>
    </div>

    <div id="show_rel_follow_on_tasks_label" class="rel_label"> Follow On Tasks &nbsp; <%= show_hide('show/hide','show_rel_follow_on_tasks_value')%> </div>        <!-- div29 -->

    <div id="show_rel_follow_on_tasks_value" class="rel_value">                                                                           <!-- div30 -->
        <table class="detail" cellspacing="1">
          <tr>
        <th>&nbsp;</th>
            <th> <%= link_to "Name"+darrow['name'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'name', :direction => asc_desc['name'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Month Week"+darrow['month_week'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'month_week', :direction => asc_desc['month_week'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Key Task"+darrow['key_task'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'key_task', :direction => asc_desc['key_task'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Seq No"+darrow['seq_no'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'seq_no', :direction => asc_desc['seq_no'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to("Month"+darrow['month'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'month', :direction => asc_desc['month'] }, :class => 'col_sorting_link') %> </th>
            <th> <%= link_to("Meeting"+darrow['meeting'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'meeting', :direction => asc_desc['meeting'] }, :class => 'col_sorting_link') %> </th>
            <th> <%= link_to("Commitee"+darrow['commitee'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'commitee', :direction => asc_desc['commitee'] }, :class => 'col_sorting_link') %> </th>
            <th> <%= link_to("Committee Role"+darrow['committee_role'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'committee_role', :direction => asc_desc['committee_role'] }, :class => 'col_sorting_link') %> </th>
          <th>&nbsp;</th>
          </tr>

          <% prev_item = nil %>
          <% for task_obj in (@follow_on_tasks || []) %>
            <tr>

              <td class="links no_lf">
              <%= link_to image_tag("blue_x.jpg",{:border=>"0", :title => 'Remove'}), {:controller => 'task_objs', :action => 'remove_from_follow_on_tasks', :id => @task_obj.id, :task_obj_id => task_obj.id} %>
              &nbsp; <%= link_to image_tag("pencil.gif",{:border=>"0", :title => 'Edit'}), {:controller => task_obj.ctrlr_name, :action => 'edit', :id => task_obj.id, 
                                           :return_to_controller => 'task_objs', :return_to_action => 'edit', :return_to_id => @task_obj.id} %> 
              </td>

            <td class="no_lf">
              <% text = task_obj.name.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= link_to text, url_show(task_obj), :class => "identity_link" %> 
            </td>

            <td class="no_lf">
              <% text = task_obj.month_week.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

            <td class="no_lf">
              <% text = task_obj.key_task.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

            <td class="no_lf">
              <% text = task_obj.seq_no.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

        <td> <%= task_obj.month && link_to(task_obj.month.iname, url_show(task_obj.month)) %>&nbsp;</td>
        <td> <%= task_obj.meeting && link_to(task_obj.meeting.iname, url_show(task_obj.meeting)) %>&nbsp;</td>
        <td> <%= task_obj.commitee && link_to(task_obj.commitee.iname, url_show(task_obj.commitee)) %>&nbsp;</td>
        <td> <%= task_obj.committee_role && link_to(task_obj.committee_role.iname, url_show(task_obj.committee_role)) %>&nbsp;</td>
      <% if prev_item then %>
        <td style="text-align:center"><%= link_to "&uarr;", :controller => 'task_objs', :action => 'swap_seq_nos', :obj1_id => prev_item.id, :obj2_id => task_obj.id %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
            </tr>
            <% prev_item = task_obj %>
          <% end %>
        <tr>
        <td class="cmd" colspan="13">
        <%= link_to 'Add Task', :controller => 'task_objs', :action => 'add_to_follow_on_tasks', :id => @task_obj.id, :obj_context => @task_obj.iname %> 
        </td>
        </tr>
        </table>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>

<% @ft_view_section[:resources] = capture { %>
<% if @show_item[:resources] then %>

  <!-- Resources -->

  <a name="resources"></a>

  <div id="show_rel_resources" class="show_rel show_rel_resources">                                                 <!-- div28 -->
    <div class="detail_quick_add detail_quick_add_resource" id="quick_add_task_obj_resources" style="float:right;">
        <%= show_hide "Quick-add Resources by name", 'quick_add_resources' %>
        <div id="quick_add_resources" style="display:none; margin-bottom:4px; padding:8px;">
            enter one name per line
            <% form_tag(:controller => 'task_objs', :action => 'quick_add_resources', :id => @task_obj.id) do %>
                <%=text_area_tag 'names', {}, :style=>"width:2in; height:0.5in;"%> <br />
                <%=submit_tag 'Add Resources'%>
            <% end %>
        </div>
    </div>

    <div id="show_rel_resources_label" class="rel_label"> Resources &nbsp; <%= show_hide('show/hide','show_rel_resources_value')%> </div>        <!-- div29 -->

    <div id="show_rel_resources_value" class="rel_value">                                                                           <!-- div30 -->
        <table class="detail" cellspacing="1">
          <tr>
        <th>&nbsp;</th>
            <th> <%= link_to "Name"+darrow['name'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'resources', :order_by => 'name', :direction => asc_desc['name'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Picture"+darrow['picture'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'resources', :order_by => 'picture', :direction => asc_desc['picture'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Link"+darrow['link'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'resources', :order_by => 'link', :direction => asc_desc['link'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Seq No"+darrow['seq_no'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'resources', :order_by => 'seq_no', :direction => asc_desc['seq_no'] }, :class => 'col_sorting_link' %> </th>
          <th>&nbsp;</th>
          </tr>

          <% prev_item = nil %>
          <% for resource in (@resources || []) %>
            <tr>

              <td class="links no_lf">
              <%= link_to image_tag("blue_x.jpg",{:border=>"0", :title => 'Remove'}), {:controller => 'task_objs', :action => 'remove_from_resources', :id => @task_obj.id, :resource_id => resource.id} %>
              &nbsp; <%= link_to image_tag("pencil.gif",{:border=>"0", :title => 'Edit'}), {:controller => resource.ctrlr_name, :action => 'edit', :id => resource.id, 
                                           :return_to_controller => 'task_objs', :return_to_action => 'edit', :return_to_id => @task_obj.id} %> 
              </td>

            <td class="no_lf">
              <% text = resource.name.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= link_to text, url_show(resource), :class => "identity_link" %> 
            </td>

            <td class="no_lf">
              <% text = resource.picture.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <% if session['list_image_toggles'] && resource.picture && image_exist?(resource.picture) then %>
                 <%= show_hide "show/hide","picture_attr_#{resource.id}"%>
                 <div class="cell_text_popup" id="picture_attr_<%=resource.id%>" style="display:none;">
                   <%= image_tag_or_crlink(resource.picture,'Picture') %>
                 </div>
              <% else %>
                 <%= image_tag_or_crlink(resource.picture,'Picture') %>
              <% end %>
            </td>

            <td>
              <% text = resource.link.to_s %>
              <% targ = text %>
              <% text = "..." %>
              <% if targ && targ.size >= 4 && (targ[0,4] == "http" || targ[0,3] == "ftp") then %>
              <%    text = link_to "Open...", targ, :target => 'show_link' %>
              <% end %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

            <td class="no_lf">
              <% text = resource.seq_no.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

      <% if prev_item then %>
        <td style="text-align:center"><%= link_to "&uarr;", :controller => 'resources', :action => 'swap_seq_nos', :obj1_id => prev_item.id, :obj2_id => resource.id %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
            </tr>
            <% prev_item = resource %>
          <% end %>
        <tr>
        <td class="cmd" colspan="13">
        <%= link_to 'Add Resource', :controller => 'task_objs', :action => 'add_to_resources', :id => @task_obj.id, :obj_context => @task_obj.iname %> 
        </td>
        </tr>
        </table>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>

<% @ft_view_section[:functions] = capture { %>
<% if @show_item[:functions] then %>

  <!-- Functions -->

  <a name="functions"></a>

  <div id="show_rel_functions" class="show_rel show_rel_functions">                                                 <!-- div28 -->
    <div class="detail_quick_add detail_quick_add_website_function" id="quick_add_task_obj_functions" style="float:right;">
        <%= show_hide "Quick-add WebsiteFunctions by name", 'quick_add_functions' %>
        <div id="quick_add_functions" style="display:none; margin-bottom:4px; padding:8px;">
            enter one name per line
            <% form_tag(:controller => 'task_objs', :action => 'quick_add_functions', :id => @task_obj.id) do %>
                <%=text_area_tag 'names', {}, :style=>"width:2in; height:0.5in;"%> <br />
                <%=submit_tag 'Add WebsiteFunctions'%>
            <% end %>
        </div>
    </div>

    <div id="show_rel_functions_label" class="rel_label"> Functions &nbsp; <%= show_hide('show/hide','show_rel_functions_value')%> </div>        <!-- div29 -->

    <div id="show_rel_functions_value" class="rel_value">                                                                           <!-- div30 -->
        <table class="detail" cellspacing="1">
          <tr>
        <th>&nbsp;</th>
            <th> <%= link_to "Name"+darrow['name'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'functions', :order_by => 'name', :direction => asc_desc['name'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Link"+darrow['link'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'functions', :order_by => 'link', :direction => asc_desc['link'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Seq No"+darrow['seq_no'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'functions', :order_by => 'seq_no', :direction => asc_desc['seq_no'] }, :class => 'col_sorting_link' %> </th>
          <th>&nbsp;</th>
          </tr>

          <% prev_item = nil %>
          <% for website_function in (@functions || []) %>
            <tr>

              <td class="links no_lf">
              <%= link_to image_tag("blue_x.jpg",{:border=>"0", :title => 'Remove'}), {:controller => 'task_objs', :action => 'remove_from_functions', :id => @task_obj.id, :website_function_id => website_function.id} %>
              &nbsp; <%= link_to image_tag("pencil.gif",{:border=>"0", :title => 'Edit'}), {:controller => website_function.ctrlr_name, :action => 'edit', :id => website_function.id, 
                                           :return_to_controller => 'task_objs', :return_to_action => 'edit', :return_to_id => @task_obj.id} %> 
              </td>

            <td class="no_lf">
              <% text = website_function.name.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= link_to text, url_show(website_function), :class => "identity_link" %> 
            </td>

            <td>
              <% text = website_function.link.to_s %>
              <% targ = text %>
              <% text = "..." %>
              <% if targ && targ.size >= 4 && (targ[0,4] == "http" || targ[0,3] == "ftp") then %>
              <%    text = link_to "Open...", targ, :target => 'show_link' %>
              <% end %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

            <td class="no_lf">
              <% text = website_function.seq_no.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

      <% if prev_item then %>
        <td style="text-align:center"><%= link_to "&uarr;", :controller => 'website_functions', :action => 'swap_seq_nos', :obj1_id => prev_item.id, :obj2_id => website_function.id %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
            </tr>
            <% prev_item = website_function %>
          <% end %>
        <tr>
        <td class="cmd" colspan="13">
        <%= link_to 'Add Website Function', :controller => 'task_objs', :action => 'add_to_functions', :id => @task_obj.id, :obj_context => @task_obj.iname %> 
        </td>
        </tr>
        </table>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>

<% @ft_view_section_order = []
   @ft_view_section_order << :documents
   @ft_view_section_order << :announcements
   @ft_view_section_order << :follow_on_tasks
   @ft_view_section_order << :resources
   @ft_view_section_order << :functions
%>

<!-- BEGIN-UID.user_ordering -->

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>


</div>                           <!-- end div1 -->

<% unless @embedded %>

<div class="buttons_etc buttons_etc_bottom">
<table class="buttons_etc_bottom_table" border="0" cellspacing="0">
<tr>
  <td width="60%" valign="top">
    <%= js_button_to 'Normal View', :controller => 'task_objs', :action => 'show', :id => @task_obj %> 
    <select onchange="javascript: location = this[this.selectedIndex].value;">
      <option value="#">Select an action...</option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'task_objs', :action => 'list')%>"> <%="Table of Task".pluralize%> </option>
      <option value="<%=url_for(:controller => 'task_objs', :action => 'block_list')%>"> <%="List of Task".pluralize%> </option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'task_objs', :action => 'new')%>"> Add new Task </option>

    <option value="#">----------------</option>



    </select>
  </td>
  <td class="context" width="40%">
   <%=context_links(@task_obj)%>
  </td>
</tr>
</table>
</div>

<% end %>
