<% unless @embedded %>

<div class="buttons_etc buttons_etc_top">
<table class="buttons_etc_top_table" border="0" cellspacing="0">
<tr>
  <td width="60%" valign="top">
    <%= js_button_to 'Modify', :controller => 'task_objs', :action => 'edit', :id => @task_obj %> 
    <select onchange="javascript: location = this[this.selectedIndex].value;">
      <option value="#">Select an action...</option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'task_objs', :action => 'show', :id => @task_obj.id)%>"> Normal Format </option>
      <option value="<%=url_for(:controller => 'task_objs', :action => 'show_as_doc', :id => @task_obj.id)%>"> Document Format </option>
      <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'task_objs', :action => 'list')%>"> <%="Table of Task".pluralize%> </option>
    <option value="<%=url_for(:controller => 'task_objs', :action => 'block_list')%>"> <%="List of Task".pluralize%> </option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'task_objs', :action => 'new')%>"> Add new Task </option>

    <option value="#">----------------</option>

<!-- BEGIN-UID.user_actions -->

<!-- END-UID.user_actions -->

    </select>
  </td>
  <td class="context" width="40%">
   <%=context_links(@task_obj)%>
  </td>
</tr>
</table>
</div>

<% end %>

<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}

   dir_ind = params['direction'] || 'ASC'
   asc_desc = Hash.new(dir_ind)
   asc_desc[ params['order_by'].to_s ] = ( dir_ind['ASC'] ? 'DESC' : 'ASC')

   darrow = Hash.new("")
   darrow[params['order_by'].to_s] = (dir_ind == 'ASC' ? " &uarr;" : " &darr;")
%>


<div class="show_as_doc_view show_as_doc_view_task_obj">    <!-- show_as_doc_view -->

    <div class="show_doc_props show_doc_props_task_obj">   <!-- show_doc_props -->

      <p class="doc_prev_next_links">
      <%=link_to "previous", url_show_as_doc(@task_obj.prev_item), :title => "Previous Task", :style => "font-size:8pt;"%> 
      | <%=link_to "next", url_show_as_doc(@task_obj.next_item), :title => "Next Task", :style => "font-size:8pt;"%>
      </p>

<!-- BEGIN-UID.user_properties -->

<!-- END-UID.user_properties -->



<% @ft_view_section[:name] = capture { %>
<% if @show_item[:name] then %>

  <!-- Name -->

  <div class="doc_attr_group attr_group_task_obj_name title">     <!-- div10-b -->
    <div class="doc_attr_label"> Name </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"><%= auto_link(@task_obj.name.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
  <p class="spacer">&nbsp;</p>

<% end %>
<% } %>



<% @ft_view_section[:month_week] = capture { %>
<% if @show_item[:month_week] then %>

  <!-- Month Week -->

  <div class="doc_attr_group attr_group_task_obj_month_week ">     <!-- div10-b -->
    <div class="doc_attr_label"> Month Week </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"><%= auto_link(@task_obj.month_week.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>



<% @ft_view_section[:key_task] = capture { %>
<% if @show_item[:key_task] then %>

  <!-- Key Task -->

  <div class="doc_attr_group attr_group_task_obj_key_task ">     <!-- div10-b -->
    <div class="doc_attr_label"> Key Task </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"><%= auto_link(@task_obj.key_task.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>



<% @ft_view_section[:seq_no] = capture { %>
<% if @show_item[:seq_no] then %>

  <!-- Seq No -->

  <div class="doc_attr_group attr_group_task_obj_seq_no ">     <!-- div10-b -->
    <div class="doc_attr_label"> Seq No </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"><%= auto_link(@task_obj.seq_no.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>

<% @ft_view_section[:month] = capture { %>
<% if @show_item[:month] then %>

    <!-- Month -->

    <div class="doc_attr_group attr_group_task_obj_tasks">     <!-- div16b -->
      <div class="doc_attr_label"> Month </div>         <!-- div17b -->
      <div class="doc_attr_value"> <%= @task_obj.month.nil? ? "" : link_to(@task_obj.month.iname, url_show(@task_obj.month)) %>&nbsp;</div> 
    </div>         <!-- end div16b -->

<% end %>
<% } %>

<% @ft_view_section[:meeting] = capture { %>
<% if @show_item[:meeting] then %>

    <!-- Meeting -->

    <div class="doc_attr_group attr_group_task_obj_tasks_addressed">     <!-- div16b -->
      <div class="doc_attr_label"> Meeting </div>         <!-- div17b -->
      <div class="doc_attr_value"> <%= @task_obj.meeting.nil? ? "" : link_to(@task_obj.meeting.iname, url_show(@task_obj.meeting)) %>&nbsp;</div> 
    </div>         <!-- end div16b -->

<% end %>
<% } %>

<% @ft_view_section[:predecessor] = capture { %>
<% if @show_item[:predecessor] then %>

    <!-- Predecessor -->

    <div class="doc_attr_group attr_group_task_obj_follow_on_tasks">     <!-- div16b -->
      <div class="doc_attr_label"> Predecessor </div>         <!-- div17b -->
      <div class="doc_attr_value"> <%= @task_obj.predecessor.nil? ? "" : link_to(@task_obj.predecessor.iname, url_show(@task_obj.predecessor)) %>&nbsp;</div> 
    </div>         <!-- end div16b -->

<% end %>
<% } %>

<% @ft_view_section[:commitee] = capture { %>
<% if @show_item[:commitee] then %>

    <!-- Commitee -->

    <div class="doc_attr_group attr_group_task_obj_tasks">     <!-- div16b -->
      <div class="doc_attr_label"> Commitee </div>         <!-- div17b -->
      <div class="doc_attr_value"> <%= @task_obj.commitee.nil? ? "" : link_to(@task_obj.commitee.iname, url_show(@task_obj.commitee)) %>&nbsp;</div> 
    </div>         <!-- end div16b -->

<% end %>
<% } %>

<% @ft_view_section[:committee_role] = capture { %>
<% if @show_item[:committee_role] then %>

    <!-- Committee Role -->

    <div class="doc_attr_group attr_group_task_obj_tasks">     <!-- div16b -->
      <div class="doc_attr_label"> Committee Role </div>         <!-- div17b -->
      <div class="doc_attr_value"> <%= @task_obj.committee_role.nil? ? "" : link_to(@task_obj.committee_role.iname, url_show(@task_obj.committee_role)) %>&nbsp;</div> 
    </div>         <!-- end div16b -->

<% end %>
<% } %>

<% @ft_view_section_order = []
   @ft_view_section_order << :name
   @ft_view_section_order << :month_week
   @ft_view_section_order << :key_task
   @ft_view_section_order << :seq_no
   @ft_view_section_order << :month
   @ft_view_section_order << :meeting
   @ft_view_section_order << :predecessor
   @ft_view_section_order << :commitee
   @ft_view_section_order << :committee_role
%>

<!-- BEGIN-UID.user_ordering -->

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

    </div>   <!-- show_doc_props -->

    <p class="spacer">&nbsp;</p>


<% @ft_view_section = {} %>

<% @ft_view_section[:description] = capture { %>
<% if @show_item[:description] then %>

  <!-- Description -->

  <div class="doc_section_group">                             <!-- div10.doc -->
    <div class="doc_section_label"> Description </div>    <!-- div11.doc -->
    <div class="doc_section_value">  <!-- div12g.doc -->
        <%= rc_format(@task_obj.description.to_s,"description") %> 
    </div>   <!-- div12g.doc end -->
  </div>   <!-- div10.doc end -->

<% end %>
<% } %>

<% @ft_view_section_order = []
   @ft_view_section_order << :description
%>

<!-- BEGIN-UID.user_text_ordering -->

<!-- END-UID.user_text_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

<div class="show_as_doc_related">

<!-- BEGIN-UID.user_related_items -->
<h3 class="rel_items_heading">Related Items</h3>
<!-- END-UID.user_related_items -->

<div class="show_hide_subtable_text">
<% listtext_op = session['list_text_toggles'] ? "show text in tables" : "hide text in tables" %>
<%= link_to listtext_op, {:controller => 'fast_ops', :action => 'toggle_list_text_toggle'}, :style => 'font-size:8pt;' %> |
<% listimage_op = session['list_image_toggles'] ? "show images in tables" : "hide images in tables" %>
<%= link_to listimage_op, {:controller => 'fast_ops', :action => 'toggle_list_image_toggle'}, :style => 'font-size:8pt;' %>
</div>


<% @ft_view_section = {} %>


<% @ft_view_section[:documents] = capture { %>
<% if @show_item[:documents] then %>

  <!-- Documents -->

  <a name="documents"></a>

  <div id="show_rel_documents" class="show_rel show_rel_documents">                                                 <!-- div28 -->
    <div id="show_rel_documents_label" class="rel_label"> Documents &nbsp; <%= show_hide('show/hide','show_rel_documents_value')%> </div>        <!-- div29 -->

    <div id="show_rel_documents_value" class="rel_value">                                                                           <!-- div30 -->
        <table class="detail" cellspacing="1">
          <tr>
            <th> <%= link_to "Name"+darrow['name'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'documents', :order_by => 'name', :direction => asc_desc['name'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Seq No"+darrow['seq_no'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'documents', :order_by => 'seq_no', :direction => asc_desc['seq_no'] }, :class => 'col_sorting_link' %> </th>
          <th>&nbsp;</th>
          </tr>

          <% prev_item = nil %>
          <% for document in (@documents || []) %>
            <tr>
            <td class="no_lf">
              <% text = document.name.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= link_to text, url_show(document), :class => "identity_link" %> 
            </td>

            <td class="no_lf">
              <% text = document.seq_no.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

      <% if prev_item then %>
        <td style="text-align:center"><%= link_to "&uarr;", :controller => 'documents', :action => 'swap_seq_nos', :obj1_id => prev_item.id, :obj2_id => document.id %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
            </tr>
            <% prev_item = document %>
          <% end %>
        </table>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>



<% @ft_view_section[:announcements] = capture { %>
<% if @show_item[:announcements] then %>

  <!-- Announcements -->

  <a name="announcements"></a>

  <div id="show_rel_announcements" class="show_rel show_rel_announcements">                                                 <!-- div28 -->
    <div id="show_rel_announcements_label" class="rel_label"> Announcements &nbsp; <%= show_hide('show/hide','show_rel_announcements_value')%> </div>        <!-- div29 -->

    <div id="show_rel_announcements_value" class="rel_value">                                                                           <!-- div30 -->
        <table class="detail" cellspacing="1">
          <tr>
            <th> <%= link_to "Topic"+darrow['topic'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'announcements', :order_by => 'topic', :direction => asc_desc['topic'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Seq No"+darrow['seq_no'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'announcements', :order_by => 'seq_no', :direction => asc_desc['seq_no'] }, :class => 'col_sorting_link' %> </th>
          <th>&nbsp;</th>
          </tr>

          <% prev_item = nil %>
          <% for announcement in (@announcements || []) %>
            <tr>
            <td class="no_lf">
              <% text = announcement.topic.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= link_to text, url_show(announcement), :class => "identity_link" %> 
            </td>

            <td class="no_lf">
              <% text = announcement.seq_no.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

      <% if prev_item then %>
        <td style="text-align:center"><%= link_to "&uarr;", :controller => 'announcements', :action => 'swap_seq_nos', :obj1_id => prev_item.id, :obj2_id => announcement.id %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
            </tr>
            <% prev_item = announcement %>
          <% end %>
        </table>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>



<% @ft_view_section[:follow_on_tasks] = capture { %>
<% if @show_item[:follow_on_tasks] then %>

  <!-- Follow On Tasks -->

  <a name="follow_on_tasks"></a>

  <div id="show_rel_follow_on_tasks" class="show_rel show_rel_follow_on_tasks">                                                 <!-- div28 -->
    <div id="show_rel_follow_on_tasks_label" class="rel_label"> Follow On Tasks &nbsp; <%= show_hide('show/hide','show_rel_follow_on_tasks_value')%> </div>        <!-- div29 -->

    <div id="show_rel_follow_on_tasks_value" class="rel_value">                                                                           <!-- div30 -->
        <table class="detail" cellspacing="1">
          <tr>
            <th> <%= link_to "Name"+darrow['name'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'name', :direction => asc_desc['name'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Month Week"+darrow['month_week'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'month_week', :direction => asc_desc['month_week'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Key Task"+darrow['key_task'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'key_task', :direction => asc_desc['key_task'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Seq No"+darrow['seq_no'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'seq_no', :direction => asc_desc['seq_no'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to("Month"+darrow['month'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'month', :direction => asc_desc['month'] }, :class => 'col_sorting_link') %> </th>
            <th> <%= link_to("Meeting"+darrow['meeting'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'meeting', :direction => asc_desc['meeting'] }, :class => 'col_sorting_link') %> </th>
            <th> <%= link_to("Commitee"+darrow['commitee'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'commitee', :direction => asc_desc['commitee'] }, :class => 'col_sorting_link') %> </th>
            <th> <%= link_to("Committee Role"+darrow['committee_role'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'follow_on_tasks', :order_by => 'committee_role', :direction => asc_desc['committee_role'] }, :class => 'col_sorting_link') %> </th>
          <th>&nbsp;</th>
          </tr>

          <% prev_item = nil %>
          <% for task_obj in (@follow_on_tasks || []) %>
            <tr>
            <td class="no_lf">
              <% text = task_obj.name.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= link_to text, url_show(task_obj), :class => "identity_link" %> 
            </td>

            <td class="no_lf">
              <% text = task_obj.month_week.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

            <td class="no_lf">
              <% text = task_obj.key_task.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

            <td class="no_lf">
              <% text = task_obj.seq_no.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

        <td> <%= task_obj.month && link_to(task_obj.month.iname, url_show(task_obj.month)) %>&nbsp;</td>
        <td> <%= task_obj.meeting && link_to(task_obj.meeting.iname, url_show(task_obj.meeting)) %>&nbsp;</td>
        <td> <%= task_obj.commitee && link_to(task_obj.commitee.iname, url_show(task_obj.commitee)) %>&nbsp;</td>
        <td> <%= task_obj.committee_role && link_to(task_obj.committee_role.iname, url_show(task_obj.committee_role)) %>&nbsp;</td>
      <% if prev_item then %>
        <td style="text-align:center"><%= link_to "&uarr;", :controller => 'task_objs', :action => 'swap_seq_nos', :obj1_id => prev_item.id, :obj2_id => task_obj.id %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
            </tr>
            <% prev_item = task_obj %>
          <% end %>
        </table>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>



<% @ft_view_section[:resources] = capture { %>
<% if @show_item[:resources] then %>

  <!-- Resources -->

  <a name="resources"></a>

  <div id="show_rel_resources" class="show_rel show_rel_resources">                                                 <!-- div28 -->
    <div id="show_rel_resources_label" class="rel_label"> Resources &nbsp; <%= show_hide('show/hide','show_rel_resources_value')%> </div>        <!-- div29 -->

    <div id="show_rel_resources_value" class="rel_value">                                                                           <!-- div30 -->
        <table class="detail" cellspacing="1">
          <tr>
            <th> <%= link_to "Name"+darrow['name'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'resources', :order_by => 'name', :direction => asc_desc['name'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Picture"+darrow['picture'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'resources', :order_by => 'picture', :direction => asc_desc['picture'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Link"+darrow['link'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'resources', :order_by => 'link', :direction => asc_desc['link'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Seq No"+darrow['seq_no'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'resources', :order_by => 'seq_no', :direction => asc_desc['seq_no'] }, :class => 'col_sorting_link' %> </th>
          <th>&nbsp;</th>
          </tr>

          <% prev_item = nil %>
          <% for resource in (@resources || []) %>
            <tr>
            <td class="no_lf">
              <% text = resource.name.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= link_to text, url_show(resource), :class => "identity_link" %> 
            </td>

            <td class="no_lf">
              <% text = resource.picture.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <% if session['list_image_toggles'] && resource.picture && image_exist?(resource.picture) then %>
                 <%= show_hide "show/hide","picture_attr_#{resource.id}"%>
                 <div class="cell_text_popup" id="picture_attr_<%=resource.id%>" style="display:none;">
                   <%= image_tag_or_crlink(resource.picture,'Picture') %>
                 </div>
              <% else %>
                 <%= image_tag_or_crlink(resource.picture,'Picture') %>
              <% end %>
            </td>

            <td>
              <% text = resource.link.to_s %>
              <% targ = text %>
              <% text = "..." %>
              <% if targ && targ.size >= 4 && (targ[0,4] == "http" || targ[0,3] == "ftp") then %>
              <%    text = link_to "Open...", targ, :target => 'show_link' %>
              <% end %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

            <td class="no_lf">
              <% text = resource.seq_no.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

      <% if prev_item then %>
        <td style="text-align:center"><%= link_to "&uarr;", :controller => 'resources', :action => 'swap_seq_nos', :obj1_id => prev_item.id, :obj2_id => resource.id %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
            </tr>
            <% prev_item = resource %>
          <% end %>
        </table>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>



<% @ft_view_section[:functions] = capture { %>
<% if @show_item[:functions] then %>

  <!-- Functions -->

  <a name="functions"></a>

  <div id="show_rel_functions" class="show_rel show_rel_functions">                                                 <!-- div28 -->
    <div id="show_rel_functions_label" class="rel_label"> Functions &nbsp; <%= show_hide('show/hide','show_rel_functions_value')%> </div>        <!-- div29 -->

    <div id="show_rel_functions_value" class="rel_value">                                                                           <!-- div30 -->
        <table class="detail" cellspacing="1">
          <tr>
            <th> <%= link_to "Name"+darrow['name'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'functions', :order_by => 'name', :direction => asc_desc['name'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Link"+darrow['link'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'functions', :order_by => 'link', :direction => asc_desc['link'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Seq No"+darrow['seq_no'], { :controller => @task_obj.ctrlr_name, :action => params[:action], :id => @task_obj, :order_sublist => 'functions', :order_by => 'seq_no', :direction => asc_desc['seq_no'] }, :class => 'col_sorting_link' %> </th>
          <th>&nbsp;</th>
          </tr>

          <% prev_item = nil %>
          <% for website_function in (@functions || []) %>
            <tr>
            <td class="no_lf">
              <% text = website_function.name.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= link_to text, url_show(website_function), :class => "identity_link" %> 
            </td>

            <td>
              <% text = website_function.link.to_s %>
              <% targ = text %>
              <% text = "..." %>
              <% if targ && targ.size >= 4 && (targ[0,4] == "http" || targ[0,3] == "ftp") then %>
              <%    text = link_to "Open...", targ, :target => 'show_link' %>
              <% end %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

            <td class="no_lf">
              <% text = website_function.seq_no.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

      <% if prev_item then %>
        <td style="text-align:center"><%= link_to "&uarr;", :controller => 'website_functions', :action => 'swap_seq_nos', :obj1_id => prev_item.id, :obj2_id => website_function.id %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
            </tr>
            <% prev_item = website_function %>
          <% end %>
        </table>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>


<%     @ft_view_section_order = []
       @ft_view_section_order << :documents
       @ft_view_section_order << :announcements
       @ft_view_section_order << :follow_on_tasks
       @ft_view_section_order << :resources
       @ft_view_section_order << :functions
%>
<!-- BEGIN-UID.user_rel_ordering -->

<!-- END-UID.user_rel_ordering -->

<% for s in @ft_view_section_order do %>
   <%= @ft_view_section[s].to_s %>
<% end %>

</div> <!-- show_as_doc_related -->


</div>  <!-- show_as_doc_view -->

<!-- BEGIN-UID.userdivs -->

<!-- END-UID.userdivs -->

<% unless @embedded %>

<div class="buttons_etc buttons_etc_bottom">
<table class="buttons_etc_bottom_table" border="0" cellspacing="0">
<tr>
  <td width="60%" valign="top">
    <%= js_button_to 'Modify', :controller => 'task_objs', :action => 'edit', :id => @task_obj %> 
    <select onchange="javascript: location = this[this.selectedIndex].value;">
      <option value="#">Select an action...</option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'task_objs', :action => 'show', :id => @task_obj.id)%>"> Normal Format </option>
      <option value="<%=url_for(:controller => 'task_objs', :action => 'show_as_doc', :id => @task_obj.id)%>"> Document Format </option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'task_objs', :action => 'list')%>"> <%="Table of Task".pluralize%> </option>
      <option value="<%=url_for(:controller => 'task_objs', :action => 'block_list')%>"> <%="List of Task".pluralize%> </option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'task_objs', :action => 'new')%>"> Add new Task </option>

    <option value="#">----------------</option>



    </select>
  </td>
  <td class="context" width="40%">
   <%=context_links(@task_obj)%>
  </td>
</tr>
</table>
</div>

<% end %>
