<% unless @embedded %>

<div class="buttons_etc buttons_etc_top">
<table class="buttons_etc_top_table" border="0" cellspacing="0">
<tr>
  <td width="60%" valign="top">
    <%= js_button_to 'Modify', :controller => 'committee_roles', :action => 'edit', :id => @committee_role %> 
    <select onchange="javascript: location = this[this.selectedIndex].value;">
      <option value="#">Select an action...</option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'committee_roles', :action => 'show', :id => @committee_role.id)%>"> Normal Format </option>
      <option value="<%=url_for(:controller => 'committee_roles', :action => 'show_as_doc', :id => @committee_role.id)%>"> Document Format </option>
      <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'committee_roles', :action => 'list')%>"> <%="Table of Committee Role".pluralize%> </option>
    <option value="<%=url_for(:controller => 'committee_roles', :action => 'block_list')%>"> <%="List of Committee Role".pluralize%> </option>

    <option value="#">----------------</option>

<!-- BEGIN-UID.user_actions -->

<!-- END-UID.user_actions -->

    </select>
  </td>
  <td class="context" width="40%">
   <%=context_links(@committee_role)%>
  </td>
</tr>
</table>
</div>

<% end %>

<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}

   dir_ind = params['direction'] || 'ASC'
   asc_desc = Hash.new(dir_ind)
   asc_desc[ params['order_by'].to_s ] = ( dir_ind['ASC'] ? 'DESC' : 'ASC')

   darrow = Hash.new("")
   darrow[params['order_by'].to_s] = (dir_ind == 'ASC' ? " &uarr;" : " &darr;")
%>


<div class="show_as_doc_view show_as_doc_view_committee_role">    <!-- show_as_doc_view -->

    <div class="show_doc_props show_doc_props_committee_role">   <!-- show_doc_props -->

      <p class="doc_prev_next_links">
      <%=link_to "previous", url_show_as_doc(@committee_role.prev_item), :title => "Previous Committee Role", :style => "font-size:8pt;"%> 
      | <%=link_to "next", url_show_as_doc(@committee_role.next_item), :title => "Next Committee Role", :style => "font-size:8pt;"%>
      </p>

<!-- BEGIN-UID.user_properties -->

<!-- END-UID.user_properties -->



<% @ft_view_section[:role_name] = capture { %>
<% if @show_item[:role_name] then %>

  <!-- Role Name -->

  <div class="doc_attr_group attr_group_committee_role_role_name title">     <!-- div10-b -->
    <div class="doc_attr_label"> Role Name </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"><%= auto_link(@committee_role.role_name.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
  <p class="spacer">&nbsp;</p>

<% end %>
<% } %>



<% @ft_view_section[:calling_required] = capture { %>
<% if @show_item[:calling_required] then %>

  <!-- Calling Required -->

  <div class="doc_attr_group attr_group_committee_role_calling_required ">     <!-- div10-b -->
    <div class="doc_attr_label"> Calling Required </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"><%= auto_link(@committee_role.calling_required.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>



<% @ft_view_section[:name_tag_needed] = capture { %>
<% if @show_item[:name_tag_needed] then %>

  <!-- Name Tag Needed -->

  <div class="doc_attr_group attr_group_committee_role_name_tag_needed ">     <!-- div10-b -->
    <div class="doc_attr_label"> Name Tag Needed </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"><%= auto_link(@committee_role.name_tag_needed.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>



<% @ft_view_section[:seq_no] = capture { %>
<% if @show_item[:seq_no] then %>

  <!-- Seq No -->

  <div class="doc_attr_group attr_group_committee_role_seq_no ">     <!-- div10-b -->
    <div class="doc_attr_label"> Seq No </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"><%= auto_link(@committee_role.seq_no.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>

<% @ft_view_section_order = []
   @ft_view_section_order << :role_name
   @ft_view_section_order << :calling_required
   @ft_view_section_order << :name_tag_needed
   @ft_view_section_order << :seq_no
%>

<!-- BEGIN-UID.user_ordering -->

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

    </div>   <!-- show_doc_props -->

    <p class="spacer">&nbsp;</p>


<% @ft_view_section = {} %>

<% @ft_view_section[:description] = capture { %>
<% if @show_item[:description] then %>

  <!-- Description -->

  <div class="doc_section_group">                             <!-- div10.doc -->
    <div class="doc_section_label"> Description </div>    <!-- div11.doc -->
    <div class="doc_section_value">  <!-- div12g.doc -->
        <%= rc_format(@committee_role.description.to_s,"description") %> 
    </div>   <!-- div12g.doc end -->
  </div>   <!-- div10.doc end -->

<% end %>
<% } %>

<% @ft_view_section_order = []
   @ft_view_section_order << :description
%>

<!-- BEGIN-UID.user_text_ordering -->

<!-- END-UID.user_text_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

<div class="show_as_doc_related">

<!-- BEGIN-UID.user_related_items -->
<h3 class="rel_items_heading">Related Items</h3>
<!-- END-UID.user_related_items -->

<div class="show_hide_subtable_text">
<% listtext_op = session['list_text_toggles'] ? "show text in tables" : "hide text in tables" %>
<%= link_to listtext_op, {:controller => 'fast_ops', :action => 'toggle_list_text_toggle'}, :style => 'font-size:8pt;' %> |
<% listimage_op = session['list_image_toggles'] ? "show images in tables" : "hide images in tables" %>
<%= link_to listimage_op, {:controller => 'fast_ops', :action => 'toggle_list_image_toggle'}, :style => 'font-size:8pt;' %>
</div>


<% @ft_view_section = {} %>


<% @ft_view_section[:meetings] = capture { %>
<% if @show_item[:meetings] then %>

  <!-- Meetings -->

  <a name="meetings"></a>

  <div id="show_rel_meetings1" class="show_rel show_rel_meetings1">                                                 <!-- div28 -->
    <div id="show_rel_meetings1_label" class="rel_label"> Meetings &nbsp; <%= show_hide('show/hide','show_rel_meetings1_value')%> </div>        <!-- div29 -->

    <div id="show_rel_meetings1_value" class="rel_value">                                                                           <!-- div30 -->
        <table class="detail" cellspacing="1">
          <tr>
            <th> <%= link_to "Name"+darrow['name'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'meetings', :order_by => 'name', :direction => asc_desc['name'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Purpose"+darrow['purpose'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'meetings', :order_by => 'purpose', :direction => asc_desc['purpose'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Month Week"+darrow['month_week'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'meetings', :order_by => 'month_week', :direction => asc_desc['month_week'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Seq No"+darrow['seq_no'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'meetings', :order_by => 'seq_no', :direction => asc_desc['seq_no'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to("Month"+darrow['month'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'meetings', :order_by => 'month', :direction => asc_desc['month'] }, :class => 'col_sorting_link') %> </th>
          <th>&nbsp;</th>
          </tr>

          <% prev_item = nil %>
          <% for meeting in (@meetings || []) %>
            <tr>
            <td class="no_lf">
              <% text = meeting.name.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= link_to text, url_show(meeting), :class => "identity_link" %> 
            </td>

            <td class="no_lf">
              <% text = meeting.purpose.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

            <td class="no_lf">
              <% text = meeting.month_week.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

            <td class="no_lf">
              <% text = meeting.seq_no.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

        <td> <%= meeting.month && link_to(meeting.month.iname, url_show(meeting.month)) %>&nbsp;</td>
      <% if prev_item then %>
        <td style="text-align:center"><%= link_to "&uarr;", :controller => 'meetings', :action => 'swap_seq_nos', :obj1_id => prev_item.id, :obj2_id => meeting.id %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
            </tr>
            <% prev_item = meeting %>
          <% end %>
        </table>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>



<% @ft_view_section[:tasks] = capture { %>
<% if @show_item[:tasks] then %>

  <!-- Tasks -->

  <a name="tasks"></a>

  <div id="show_rel_tasks" class="show_rel show_rel_tasks">                                                 <!-- div28 -->
    <div id="show_rel_tasks_label" class="rel_label"> Tasks &nbsp; <%= show_hide('show/hide','show_rel_tasks_value')%> </div>        <!-- div29 -->

    <div id="show_rel_tasks_value" class="rel_value">                                                                           <!-- div30 -->
        <table class="detail" cellspacing="1">
          <tr>
            <th> <%= link_to "Name"+darrow['name'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'tasks', :order_by => 'name', :direction => asc_desc['name'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Month Week"+darrow['month_week'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'tasks', :order_by => 'month_week', :direction => asc_desc['month_week'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Key Task"+darrow['key_task'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'tasks', :order_by => 'key_task', :direction => asc_desc['key_task'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Seq No"+darrow['seq_no'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'tasks', :order_by => 'seq_no', :direction => asc_desc['seq_no'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to("Month"+darrow['month'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'tasks', :order_by => 'month', :direction => asc_desc['month'] }, :class => 'col_sorting_link') %> </th>
            <th> <%= link_to("Meeting"+darrow['meeting'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'tasks', :order_by => 'meeting', :direction => asc_desc['meeting'] }, :class => 'col_sorting_link') %> </th>
            <th> <%= link_to("Predecessor"+darrow['predecessor'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'tasks', :order_by => 'predecessor', :direction => asc_desc['predecessor'] }, :class => 'col_sorting_link') %> </th>
            <th> <%= link_to("Commitee"+darrow['commitee'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'tasks', :order_by => 'commitee', :direction => asc_desc['commitee'] }, :class => 'col_sorting_link') %> </th>
          <th>&nbsp;</th>
          </tr>

          <% prev_item = nil %>
          <% for task_obj in (@tasks || []) %>
            <tr>
            <td class="no_lf">
              <% text = task_obj.name.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= link_to text, url_show(task_obj), :class => "identity_link" %> 
            </td>

            <td class="no_lf">
              <% text = task_obj.month_week.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

            <td class="no_lf">
              <% text = task_obj.key_task.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

            <td class="no_lf">
              <% text = task_obj.seq_no.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

        <td> <%= task_obj.month && link_to(task_obj.month.iname, url_show(task_obj.month)) %>&nbsp;</td>
        <td> <%= task_obj.meeting && link_to(task_obj.meeting.iname, url_show(task_obj.meeting)) %>&nbsp;</td>
        <td> <%= task_obj.predecessor && link_to(task_obj.predecessor.iname, url_show(task_obj.predecessor)) %>&nbsp;</td>
        <td> <%= task_obj.commitee && link_to(task_obj.commitee.iname, url_show(task_obj.commitee)) %>&nbsp;</td>
      <% if prev_item then %>
        <td style="text-align:center"><%= link_to "&uarr;", :controller => 'task_objs', :action => 'swap_seq_nos', :obj1_id => prev_item.id, :obj2_id => task_obj.id %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
            </tr>
            <% prev_item = task_obj %>
          <% end %>
        </table>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>



<% @ft_view_section[:assignments] = capture { %>
<% if @show_item[:assignments] then %>

  <!-- Assignments -->

  <a name="assignments"></a>

  <div id="show_rel_assignments" class="show_rel show_rel_assignments">                                                 <!-- div28 -->
    <div id="show_rel_assignments_label" class="rel_label"> Assignments &nbsp; <%= show_hide('show/hide','show_rel_assignments_value')%> </div>        <!-- div29 -->

    <div id="show_rel_assignments_value" class="rel_value">                                                                           <!-- div30 -->
        <table class="detail" cellspacing="1">
          <tr>
            <th> <%= link_to("Event"+darrow['event'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'assignments', :order_by => 'event', :direction => asc_desc['event'] }, :class => 'col_sorting_link') %> </th>
            <th> <%= link_to("Volunteer"+darrow['volunteer'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'assignments', :order_by => 'volunteer', :direction => asc_desc['volunteer'] }, :class => 'col_sorting_link') %> </th>
          </tr>

          <% prev_item = nil %>
          <% for role_assignment in (@assignments || []) %>
            <tr>
        <td> <%= role_assignment.event && link_to(role_assignment.event.iname, url_show(role_assignment.event)) %>&nbsp;</td>
        <td> <%= role_assignment.volunteer && link_to(role_assignment.volunteer.iname, url_show(role_assignment.volunteer)) %>&nbsp;</td>
            </tr>
            <% prev_item = role_assignment %>
          <% end %>
        </table>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>



<% @ft_view_section[:meetings] = capture { %>
<% if @show_item[:meetings] then %>

  <!-- Meetings -->

  <a name="meetings"></a>

  <div id="show_rel_meetings" class="show_rel show_rel_meetings">                                                <!-- div33 -->
    <div id="show_rel_meetings_label" class="rel_label"> Meetings &nbsp; <%= show_hide('show/hide','show_rel_meetings_value')%></div>            <!-- div34 -->

    <div id="show_rel_meetings_value" class="rel_value">                                           <!-- div35 -->


        <table class="detail rev_list" cellspacing="1">
        <tr>
          <th> <%= link_to "Name"+darrow['name'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'meetings', :order_by => 'name', :direction => asc_desc['name'] }, :class => 'col_sorting_link' %> </th>
          <th> <%= link_to "Purpose"+darrow['purpose'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'meetings', :order_by => 'purpose', :direction => asc_desc['purpose'] }, :class => 'col_sorting_link' %> </th>
          <th> <%= link_to "Month Week"+darrow['month_week'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'meetings', :order_by => 'month_week', :direction => asc_desc['month_week'] }, :class => 'col_sorting_link' %> </th>
          <th> <%= link_to "Seq No"+darrow['seq_no'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'meetings', :order_by => 'seq_no', :direction => asc_desc['seq_no'] }, :class => 'col_sorting_link' %> </th>
          <th> <%= link_to("Month"+darrow['month'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'meetings', :order_by => 'month', :direction => asc_desc['month'] }, :class => 'col_sorting_link') %> </th>
          <th> <%= link_to("Facilitator"+darrow['facilitator'], { :controller => @committee_role.ctrlr_name, :action => params[:action], :id => @committee_role, :order_sublist => 'meetings', :order_by => 'facilitator', :direction => asc_desc['facilitator'] }, :class => 'col_sorting_link') %> </th>
        </tr>

<% if @meetings != nil %>
<% for meeting in (@meetings.kind_of? Array) ? @meetings : [ @meetings ] %>
        <tr>
        <td class="no_lf">
        <% text = meeting.name.to_s %>
        <% text = auto_link(text) %>
            <% text = "&nbsp;" if text.length == 0 %>
        <%= link_to text, url_show(meeting), :class => 'identity_link' %> 
        </td>
        <td class="no_lf">
        <% text = meeting.purpose.to_s %>
        <% text = auto_link(text) %>
            <% text = "&nbsp;" if text.length == 0 %>
        <%= text %> 
        </td>
        <td class="no_lf">
        <% text = meeting.month_week.to_s %>
        <% text = auto_link(text) %>
            <% text = "&nbsp;" if text.length == 0 %>
        <%= text %> 
        </td>
        <td class="no_lf">
        <% text = meeting.seq_no.to_s %>
        <% text = auto_link(text) %>
            <% text = "&nbsp;" if text.length == 0 %>
        <%= text %> 
        </td>
        <td> <%= meeting.month && link_to(meeting.month.iname, url_show(meeting.month)) %>&nbsp;</td>
        <td> <%= meeting.facilitator && link_to(meeting.facilitator.iname, url_show(meeting.facilitator)) %>&nbsp;</td>
        </tr> 
<% end %>
<% end %>
        </table>

    </div>           <!-- end div35 -->
  </div>               <!-- end div33 -->
<% end %>
<% } %>


<%     @ft_view_section_order = []
       @ft_view_section_order << :meetings
       @ft_view_section_order << :tasks
       @ft_view_section_order << :assignments
%>
<!-- BEGIN-UID.user_rel_ordering -->

<!-- END-UID.user_rel_ordering -->

<% for s in @ft_view_section_order do %>
   <%= @ft_view_section[s].to_s %>
<% end %>

</div> <!-- show_as_doc_related -->


</div>  <!-- show_as_doc_view -->

<!-- BEGIN-UID.userdivs -->

<!-- END-UID.userdivs -->

<% unless @embedded %>

<div class="buttons_etc buttons_etc_bottom">
<table class="buttons_etc_bottom_table" border="0" cellspacing="0">
<tr>
  <td width="60%" valign="top">
    <%= js_button_to 'Modify', :controller => 'committee_roles', :action => 'edit', :id => @committee_role %> 
    <select onchange="javascript: location = this[this.selectedIndex].value;">
      <option value="#">Select an action...</option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'committee_roles', :action => 'show', :id => @committee_role.id)%>"> Normal Format </option>
      <option value="<%=url_for(:controller => 'committee_roles', :action => 'show_as_doc', :id => @committee_role.id)%>"> Document Format </option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'committee_roles', :action => 'list')%>"> <%="Table of Committee Role".pluralize%> </option>
      <option value="<%=url_for(:controller => 'committee_roles', :action => 'block_list')%>"> <%="List of Committee Role".pluralize%> </option>

    <option value="#">----------------</option>



    </select>
  </td>
  <td class="context" width="40%">
   <%=context_links(@committee_role)%>
  </td>
</tr>
</table>
</div>

<% end %>
