<% unless @embedded %>

<div class="buttons_etc buttons_etc_top">
<table class="buttons_etc_top_table" border="0" cellspacing="0">
<tr>
  <td width="60%" valign="top">
    <%= js_button_to 'Modify', :controller => 'role_assignments', :action => 'edit', :id => @role_assignment %> 
    <select onchange="javascript: location = this[this.selectedIndex].value;">
      <option value="#">Select an action...</option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'role_assignments', :action => 'show', :id => @role_assignment.id)%>"> Normal Format </option>
      <option value="<%=url_for(:controller => 'role_assignments', :action => 'show_as_doc', :id => @role_assignment.id)%>"> Document Format </option>
      <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'role_assignments', :action => 'list')%>"> <%="Table of Role Assignment".pluralize%> </option>
    <option value="<%=url_for(:controller => 'role_assignments', :action => 'block_list')%>"> <%="List of Role Assignment".pluralize%> </option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'role_assignments', :action => 'new')%>"> Add new Role Assignment </option>

    <option value="#">----------------</option>

<!-- BEGIN-UID.user_actions -->

<!-- END-UID.user_actions -->

    </select>
  </td>
  <td class="context" width="40%">
   <%=context_links(@role_assignment)%>
  </td>
</tr>
</table>
</div>

<% end %>

<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}

   dir_ind = params['direction'] || 'ASC'
   asc_desc = Hash.new(dir_ind)
   asc_desc[ params['order_by'].to_s ] = ( dir_ind['ASC'] ? 'DESC' : 'ASC')

   darrow = Hash.new("")
   darrow[params['order_by'].to_s] = (dir_ind == 'ASC' ? " &uarr;" : " &darr;")
%>


<div class="show_as_doc_view show_as_doc_view_role_assignment">    <!-- show_as_doc_view -->

    <div class="show_doc_props show_doc_props_role_assignment">   <!-- show_doc_props -->

      <p class="doc_prev_next_links">
      <%=link_to "previous", url_show_as_doc(@role_assignment.prev_item), :title => "Previous Role Assignment", :style => "font-size:8pt;"%> 
      | <%=link_to "next", url_show_as_doc(@role_assignment.next_item), :title => "Next Role Assignment", :style => "font-size:8pt;"%>
      </p>

<!-- BEGIN-UID.user_properties -->

<!-- END-UID.user_properties -->



<% @ft_view_section[:name] = capture { %>
<% if @show_item[:name] then %>

  <!-- Name -->

  <div class="doc_attr_group attr_group_role_assignment_name title">     <!-- div10-b -->
    <div class="doc_attr_label"> Name </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"><%= auto_link(@role_assignment.name.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
  <p class="spacer">&nbsp;</p>

<% end %>
<% } %>

<% @ft_view_section[:event] = capture { %>
<% if @show_item[:event] then %>

    <!-- Event -->

    <div class="doc_attr_group attr_group_role_assignment_assignments">     <!-- div16b -->
      <div class="doc_attr_label"> Event </div>         <!-- div17b -->
      <div class="doc_attr_value"> <%= @role_assignment.event.nil? ? "" : link_to(@role_assignment.event.iname, url_show(@role_assignment.event)) %>&nbsp;</div> 
    </div>         <!-- end div16b -->

<% end %>
<% } %>

<% @ft_view_section[:volunteer] = capture { %>
<% if @show_item[:volunteer] then %>

    <!-- Volunteer -->

    <div class="doc_attr_group attr_group_role_assignment_assignments">     <!-- div16b -->
      <div class="doc_attr_label"> Volunteer </div>         <!-- div17b -->
      <div class="doc_attr_value"> <%= @role_assignment.volunteer.nil? ? "" : link_to(@role_assignment.volunteer.iname, url_show(@role_assignment.volunteer)) %>&nbsp;</div> 
    </div>         <!-- end div16b -->

<% end %>
<% } %>

<% @ft_view_section[:committee_role] = capture { %>
<% if @show_item[:committee_role] then %>

    <!-- Committee Role -->

    <div class="doc_attr_group attr_group_role_assignment_assignments">     <!-- div16b -->
      <div class="doc_attr_label"> Committee Role </div>         <!-- div17b -->
      <div class="doc_attr_value"> <%= @role_assignment.committee_role.nil? ? "" : link_to(@role_assignment.committee_role.iname, url_show(@role_assignment.committee_role)) %>&nbsp;</div> 
    </div>         <!-- end div16b -->

<% end %>
<% } %>

<% @ft_view_section_order = []
   @ft_view_section_order << :name
   @ft_view_section_order << :event
   @ft_view_section_order << :volunteer
   @ft_view_section_order << :committee_role
%>

<!-- BEGIN-UID.user_ordering -->

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

    </div>   <!-- show_doc_props -->

    <p class="spacer">&nbsp;</p>


<% @ft_view_section = {} %>

<% @ft_view_section_order = []
%>

<!-- BEGIN-UID.user_text_ordering -->

<!-- END-UID.user_text_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

<div class="show_as_doc_related">

<!-- BEGIN-UID.user_related_items -->
<h3 class="rel_items_heading">Related Items</h3>
<!-- END-UID.user_related_items -->

<div class="show_hide_subtable_text">
<% listtext_op = session['list_text_toggles'] ? "show text in tables" : "hide text in tables" %>
<%= link_to listtext_op, {:controller => 'fast_ops', :action => 'toggle_list_text_toggle'}, :style => 'font-size:8pt;' %> |
<% listimage_op = session['list_image_toggles'] ? "show images in tables" : "hide images in tables" %>
<%= link_to listimage_op, {:controller => 'fast_ops', :action => 'toggle_list_image_toggle'}, :style => 'font-size:8pt;' %>
</div>


<% @ft_view_section = {} %>


<% @ft_view_section[:assigned_committees] = capture { %>
<% if @show_item[:assigned_committees] then %>

  <!-- Committees Under Guidance -->

  <a name="assigned_committees"></a>

  <div id="show_rel_assigned_committees" class="show_rel show_rel_assigned_committees">                                                 <!-- div28 -->
    <div id="show_rel_assigned_committees_label" class="rel_label"> Committees Under Guidance &nbsp; <%= show_hide('show/hide','show_rel_assigned_committees_value')%> </div>        <!-- div29 -->

    <div id="show_rel_assigned_committees_value" class="rel_value">                                                                           <!-- div30 -->
        <table class="detail" cellspacing="1">
          <tr>
            <th> <%= link_to "Code"+darrow['code'], { :controller => @role_assignment.ctrlr_name, :action => params[:action], :id => @role_assignment, :order_sublist => 'assigned_committees', :order_by => 'code', :direction => asc_desc['code'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Name"+darrow['name'], { :controller => @role_assignment.ctrlr_name, :action => params[:action], :id => @role_assignment, :order_sublist => 'assigned_committees', :order_by => 'name', :direction => asc_desc['name'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Picture"+darrow['picture'], { :controller => @role_assignment.ctrlr_name, :action => params[:action], :id => @role_assignment, :order_sublist => 'assigned_committees', :order_by => 'picture', :direction => asc_desc['picture'] }, :class => 'col_sorting_link' %> </th>
            <th> <%= link_to "Seq No"+darrow['seq_no'], { :controller => @role_assignment.ctrlr_name, :action => params[:action], :id => @role_assignment, :order_sublist => 'assigned_committees', :order_by => 'seq_no', :direction => asc_desc['seq_no'] }, :class => 'col_sorting_link' %> </th>
          <th>&nbsp;</th>
          </tr>

          <% prev_item = nil %>
          <% for committee in (@assigned_committees || []) %>
            <tr>
            <td class="no_lf">
              <% text = committee.code.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= link_to text, url_show(committee), :class => "identity_link" %> 
            </td>

            <td class="no_lf">
              <% text = committee.name.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

            <td class="no_lf">
              <% text = committee.picture.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <% if session['list_image_toggles'] && committee.picture && image_exist?(committee.picture) then %>
                 <%= show_hide "show/hide","picture_attr_#{committee.id}"%>
                 <div class="cell_text_popup" id="picture_attr_<%=committee.id%>" style="display:none;">
                   <%= image_tag_or_crlink(committee.picture,'Picture') %>
                 </div>
              <% else %>
                 <%= image_tag_or_crlink(committee.picture,'Picture') %>
              <% end %>
            </td>

            <td class="no_lf">
              <% text = committee.seq_no.to_s %>
              <% text = "&nbsp;" if text.length == 0 %>
              <%= text %> 
            </td>

      <% if prev_item then %>
        <td style="text-align:center"><%= link_to "&uarr;", :controller => 'committees', :action => 'swap_seq_nos', :obj1_id => prev_item.id, :obj2_id => committee.id %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
            </tr>
            <% prev_item = committee %>
          <% end %>
        </table>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>


<%     @ft_view_section_order = []
       @ft_view_section_order << :assigned_committees
%>
<!-- BEGIN-UID.user_rel_ordering -->

<!-- END-UID.user_rel_ordering -->

<% for s in @ft_view_section_order do %>
   <%= @ft_view_section[s].to_s %>
<% end %>

</div> <!-- show_as_doc_related -->


</div>  <!-- show_as_doc_view -->

<!-- BEGIN-UID.userdivs -->

<!-- END-UID.userdivs -->

<% unless @embedded %>

<div class="buttons_etc buttons_etc_bottom">
<table class="buttons_etc_bottom_table" border="0" cellspacing="0">
<tr>
  <td width="60%" valign="top">
    <%= js_button_to 'Modify', :controller => 'role_assignments', :action => 'edit', :id => @role_assignment %> 
    <select onchange="javascript: location = this[this.selectedIndex].value;">
      <option value="#">Select an action...</option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'role_assignments', :action => 'show', :id => @role_assignment.id)%>"> Normal Format </option>
      <option value="<%=url_for(:controller => 'role_assignments', :action => 'show_as_doc', :id => @role_assignment.id)%>"> Document Format </option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'role_assignments', :action => 'list')%>"> <%="Table of Role Assignment".pluralize%> </option>
      <option value="<%=url_for(:controller => 'role_assignments', :action => 'block_list')%>"> <%="List of Role Assignment".pluralize%> </option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'role_assignments', :action => 'new')%>"> Add new Role Assignment </option>

    <option value="#">----------------</option>



    </select>
  </td>
  <td class="context" width="40%">
   <%=context_links(@role_assignment)%>
  </td>
</tr>
</table>
</div>

<% end %>
